.ContainerRegister{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  
    h1{
        color:#dac404;
    }
    form{
       
        width: 50%;
        padding: 10px;
        border: solid 1px;
        border-radius: 5p;

        Button{
            display: block;
            background-color: #dac404;
            border: none;
           
          
        }
        .disabledButton{
            background-color: #dac404;
        }
        .activeButton{
        
            border:none;
        }
    }
  
}